body {
  overflow: hidden;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
}

.game {
  /*border: 1px solid red;*/
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  /*transform: scale(1.5);*/
}

.toggle-mute-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background: black;
  color: white;
  padding: 10px 0;
}

.toggle-mute-bar > i,
.toggle-mute-bar > span {
  margin-left: 10px;
}

.turtle-health-bar {
  
}

.gameframe {
  position: relative;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
}

.viewport {
  position: absolute;
  left: 0;
  top: 0;
}

.stage {
  background: url('../stage/sewer.png');
  background-repeat: repeat;
  height: 191px;
  width: 5000px;
  position: relative;
}

div.turtle,
div.foot {
  position: absolute;
  display: inline-table;
  overflow: visible;
  text-align: center;
  vertical-align: bottom;
  /*to delete*/
  font-size: 10px;
  color: white;
}

.turtle > div {
  display: inline-block;
}

/*.foot {
  position: absolute;
  width: auto;
  border: 1px solid green;
  font-size: 10px;
  color: white;
}*/
