.game {
  width: 500px;
  height: 190px;
  border: 1px solid black;
  position: relative;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
}

.viewport {
  position: absolute;
  left: 0px;
  top: 0;
}

.stage {
  background: url('../stage/ny-street.png');
  background-repeat: repeat;
  height: 191px;
  width: 5000px;
  position: relative;
}

div.turtle {
  position: absolute;
  display: inline-table;
  overflow: visible;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid red;
  /*to delete*/
  font-size: 10px;
  color: white;
}

.turtle > div {
  display: inline-block;
}

.foot {
  position: absolute;
  width: auto;
  border: 1px solid green;
  /*to delete*/
  font-size: 10px;
  color: white;
}
