body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  transform: scale(2);
  transform-origin: bottom;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.game,
.splash,
.reset,
.select-screen {
  margin: auto;
}

.splash,
.game,
.reset,
.stage,
.select-screen {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.splash,
.reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background: black;
}

.splash-title {
  background: url("../splash/splash.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.splash-subtitle {
  background: url("https://fontmeme.com/permalink/171113/2876b882e200631c318ab626c4157803.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 30px;
}

.press-start {
  padding-top: 15px;
  color: white;
}

.slow {
  animation: blinker 1s infinite;
  animation-timing-function: ease;
}

.fast {
  animation: blinker 0.1s infinite;
  animation-timing-function: ease;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.toggle-mute-bar {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 10px 0;
  text-shadow: 1px 1px blue;
}

.toggle-mute {
  font-size: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 80%
}

.toggle-mute i {
  font-size: 15px;
  flex-basis: 5%;
}

.toggle-mute > i,
.toggle-mute > span {
  margin-left: 10px;
}

.turtle-health-bar {
  background: black;
  padding-left: 5px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.turtle-health {
  position: relative;
  background: black;
  border: 3px solid white;
  border-radius: 5px;
  flex-basis: 48%;
  height: 40px;
  box-shadow: 1px 1px blue;
  padding-top: 2px;
}

.suhan-icon {
  background-image: url('../spritesheets/suhan-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -3px;
  left: 10px;
}

.turtle-name,
.turtle-health-meter {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15px;
  font-size: 10px;
  text-shadow: 1px 1px blue;
}

.turtle-health-meter {
  font-size: 12px;
}


.turtle-name > strong {
  flex-basis: 50%;
}

.turtle-name > small {
  flex-basis: 20%;
}

.turtle-health-meter > strong {
  flex-basis: 70%;
  margin-top: 10px;
}

.turtle-health-meter.suhan > small {
  font-size: 8px;
  flex-basis: 70%;
  margin-top: 10px;
  /*animation: blinker 1s infinite;*/
}

.player-icon {
  height: 15px;
  width: 50px;
  background: black;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  /*border-radius: 5px;*/
  border-bottom-right-radius: 5px;
  position: absolute;
  top: -3px;
  left: -3px;

}

.player-icon > span {
  color: orange;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -3px;
  left: 5px;
  text-shadow: 1px 1px blue;
  font-size: 20px;
}

.player-icon > span > small {
  font-size: 8px;
}

.player-icon.suhan > span {
  color: #f442f4;
}

.turtle-icon {
  transform: scale(1.3);
  position: absolute;
  bottom: -2px;
  left: 10px;
}

.gameframe {
  position: relative;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
}

.viewport {
  position: absolute;
  left: 0;
  top: 0;
}

.stage {
  background: url('../stage/sewer.png');
  background-repeat: repeat;
  height: 191px;
  width: 5000px;
  position: relative;
}

.instructions {
  font-size: 7px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

div.turtle,
div.foot {
  position: absolute;
  display: inline-table;
  overflow: visible;
  text-align: center;
  vertical-align: bottom;
  /*to delete*/
  font-size: 10px;
  color: white;
}

.turtle > div {
  display: inline-block;
}

.icons {
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reset {
  justify-content: space-evenly;
}

.reset .icons {
  width: 20%;
  align-items: flex-start;
}

.reset small {
  font-size: 5px;
}

.icons a,
.reset a {
  color: #fff;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

.reset a {
  font-size: 10px;
}

.icons a {
  font-size: 20px;
}

.icons .linkedin:hover {
  color: orange;
}

.icons .github:hover {
  color: #ff4949;
}

.icons .angellist:hover {
  color: #3d8aff;
}

.icons .email:hover {
  color: #f442f4;
}

.resume:hover {
  color: #51ff99;
}

.portfolio:hover {
  color: #ba5e25;
}

.email:hover {
  color: #f442f4;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5px;
}

.credits li {
  padding-top: 2px;
}

.cowabunga {
  width: 200px;
}

.select-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.select-screen > span,
.select-screen > small {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 20%;
  text-shadow: 1px 1px blue;
}

.select-screen > small {
  font-size: 8px;
}

.select-screen figure.leo {
  background-image: url('../select_screen/leo.png');
}

.select-screen figure.leo.hovered {
  background-image: url('../select_screen/leo-selected.png');
  color: white;
}

.select-screen figure.mikey {
  background-image: url('../select_screen/mikey.png');
}

.select-screen figure.mikey.hovered {
  background-image: url('../select_screen/mikey-selected.png');
  color: white;
}

.select-screen figure.don {
  background-image: url('../select_screen/don.png');
  color: white;
}

.select-screen figure.don.hovered {
  background-image: url('../select_screen/don-selected.png');
  color: white;
}

.select-screen figure.raph {
  background-image: url('../select_screen/raph.png');
  color: white;
}

.select-screen figure.raph.hovered {
  background-image: url('../select_screen/raph-selected.png');
  color: white;
}

.select-screen figure {
  border: 1px solid black ;
  height: 80%;
  flex-basis: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: black;
  font-size: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
